<template>
    <v-layout row wrap>
        <v-flex xs12>
            <div>
                <v-dialog v-model="dialog" max-width="500px">
                    <v-btn color="primary" dark slot="activator" class="mb-2">Nouvelle division</v-btn>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 >
                                        <v-text-field label="Libellé" v-model="editedItem.label"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <br>
                                        <v-text-field label="Abbréviation" color="purple darken-4" v-model="editedItem.abbr"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-select :items="users" item-text="nom" item-value="id" autocomplete v-model="editedItem.user" label="Chef de division"
                                            data-vv-name="Rôles">
                                              <template slot="selection" slot-scope="data">
                                                <v-chip class="font-weight-light" :selected="data.selected" close @input="remove(data.item)" color="teal" text-color="white">
                                                    {{ data.item.nom +' '+data.item.prenom }}
                                                </v-chip>
                                                </template>
                                            </v-select>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="close">Annuler</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="save">Enregistrer</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-card>
                    <v-card-title>
                        <v-spacer></v-spacer>
                        <v-text-field append-icon="search" label="Chercher" single-line hide-details v-model="search"></v-text-field>
                    </v-card-title>
                    <v-data-table :headers="headers" :items="items" class="elevation-1" :search="search" rows-per-page-text="lines par page:"
                        no-results-text="Aucun enregistrements correspondants trouvés" :rows-per-page-items='[10,15,20,{"text":"Tout","value":-1}]'>
                        <template slot="items" slot-scope="props">
                            <td>{{ props.item.label }}</td>
                            <td class="text-xs-left">{{ props.item.abbr }}</td>
                            <td class="white--text">
                                <span class="teal pa-1 ma-2">
                                    {{props.item.user!=null?props.item.user.nom+' '+props.item.user.prenom:''}}</span>
                            </td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="editItem(props.item)">
                                    <v-icon color="teal">edit</v-icon>
                                </v-btn>
                                <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                                    <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                        <template slot="no-data">
                            <v-alert :value="true" color="error" icon="warning">
                                Aucune donnée pour le moment
                            </v-alert>
                        </template>
                        <template slot="pageText" slot-scope="props">
                            {{ props.pageStart }} - {{ props.pageStop }} sur {{ props.itemsLength }}
                        </template>
                    </v-data-table>
                </v-card>
            </div>
        </v-flex>
        <v-snackbar top :timeout="timeout" :color="snackbar_color" v-model="snackbar">
            {{ snackbar_message }}
            <v-btn dark flat @click.native="snackbar = false">
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
        <v-dialog v-model="dialog_delete" width="400px">
            <v-card>
                <v-card-title class="title">
                    <v-icon large color="red" class="mr-3">warning</v-icon>
                    Supprimer l'entité
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="body-2">Voulez vous vraiment supprimer cet élément de la liste</v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="light-green" dark @click.native="confirmDelete">
                        Oui
                        <v-icon right>check_circle</v-icon>

                    </v-btn>
                    <v-btn dark color="pink" @click.native="dialog_delete = false">
                        Non
                        <v-icon right>block</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>
<script>                
    export default {
        data: () => ({
            dialog_delete: false,
            item_delete: null,
            snackbar: false,
            timeout: 4000,
            snackbar_color: "",
            snackbar_message: "",
            dialog: false,
            search: "",
            headers: [{
                text: "Libellé",
                value: "label",
                sortable: true
            },
            {
                text: "Abbréviation",
                value: "abbr",
                sortable: true
            },
            {
                text: "Chef de division",
                value: "chef",
                sortable: true
            },
            {
                text: "Actions",
                sortable: false
            }
            ],
            users: [],
            items: [],
            editedIndex: -1,
            editedItem: {
                id: null,
                label: "",
                abbr: 0,
                user: []
            },
            defaultItem: {
                id: null,
                label: "",
                abbr: 0,
                user: []
            }
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? "Nouvelle division" : "Modifier la division";
            }
        },

        watch: {
            dialog(val) {
                val || this.close();
            }
        },

        created() {
            this.initialize();
        },

        methods: {
            initialize() {
                axios
                    .get(`divisions`)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        this.items = response.data;
                        // this.page = response.data.current_page;
                        //this.total = response.data.last_page;
                        //this.per_page = response.data.per_page;
                        // this.items=response.data.data;
                    })
                    .catch(e => {
                        // this.errors.push(e)
                        console.log(e);
                    });
                axios
                    .get(`users`)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        this.users = response.data;
                        // this.page = response.data.current_page;
                        //this.total = response.data.last_page;
                        //this.per_page = response.data.per_page;
                        // this.items=response.data.data;
                    })
                    .catch(e => {
                        // this.errors.push(e)
                        console.log(e);
                    });
            },
            showSnackBar(message, type) {
                this.snackbar_message = message;
                this.snackbar_color = type;
                this.snackbar = true;
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },

            deleteItem(item) {
                this.item_delete = item;
                this.dialog_delete = true;
            },
            confirmDelete() {
                this.$Progress.start();
                axios
                    .delete("divisions/" + this.item_delete.id)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        const index = this.items.indexOf(this.item_delete);
                        this.items.splice(index, 1);
                        this.$Progress.finish();
                        this.dialog_delete = false;
                        this.showSnackBar(response.data.message, "success");
                    })
                    .catch(e => {
                        this.$Progress.fail();
                        this.showSnackBar("Une erreur est survenue", "error");
                        console.log(e);
                    });
            },

            close() {
                this.dialog = false;
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 300);
            },

            save() {
                if (this.editedIndex == -1) {
                    this.$Progress.start();
                    const vm = this;
                    axios
                        .post("divisions", this.editedItem)
                        .then(response => {
                            // JSON responses are automatically parsed.
                            vm.$Progress.finish();
                            vm.items.unshift(response.data.entité);
                            vm.dialog = false;
                            vm.showSnackBar(response.data.message, "success");
                        })
                        .catch(e => {
                            this.$Progress.fail();
                            this.showSnackBar("Une erreur est survenue", "error");
                            console.log(e);
                        });
                } else {
                    this.$Progress.start();
                    axios
                        .patch("divisions/" + this.editedItem.id, this.editedItem)
                        .then(response => {
                            this.$Progress.finish();
                            this.items[this.editedIndex].label = this.editedItem.label;
                            this.items[this.editedIndex].abbr = this.editedItem.abbr;
                            this.items[this.editedIndex].user = response.data.user;
                            this.dialog = false;
                            this.showSnackBar(response.data.message, "success");
                        })
                        .catch(e => {
                            this.$Progress.fail();
                            this.showSnackBar("Une erreur est survenue", "error");
                            console.log(e);
                        });
                }
                this.close();
            },
          remove (item) { 
            this.editedItem.user = null;
            }
        }
    };
</script>