<template>
  <v-app>
    <v-container fluid fill-height @keyup.enter="login()" class="font-weight-thin">
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md5>
          <v-card class="elevation-12" >
           <v-toolbar dark color="primary">
              <v-toolbar-title></v-toolbar-title>Chtouka Ait Baha
              <v-spacer></v-spacer>
              <img width="55px" class="text-md-center" src="./morocco.png" alt>
              <v-spacer></v-spacer>Gestion des réunions
            </v-toolbar>
            <v-card-text>
              <v-alert v-if="show" :value="true" type="error">
                Erreur login/ mot de passe
              </v-alert>
              <v-form class="">
                <v-text-field prepend-icon="person" name="login" v-model="username" label="Login" type="text"></v-text-field>
                <v-text-field id="password" prepend-icon="lock" name="password" v-model="password" label="Password" type="password"></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions class="px-4 pb-4 pt-0">
              <v-spacer></v-spacer>
              <v-btn round large @click="login()" color="primary">Connexion</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
        <v-snackbar top :timeout="timeout" :color="snackbar_color" v-model="snackbar" class="label-input100 white--text">
            Erreur login/mot de passe
            <v-btn dark flat @click.native="snackbar = false">
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
  </v-app>
</template>
<script>
  export default {
     data() {
    return {
      show:false,
      dialog_delete: false,
      snackbar: false,
      timeout: 4000,
      snackbar_color: "red",
      username: "",
      password: "",
      erreurs: []
    };
  },
  created(){
    if(this.$auth.isAuthenticated())
      this.$router.push('daySpan')
    else
      axios.post('logout').then(response => {
            this.$router.push('login');
          })
          .catch(e => {
            // this.errors.push(e)
            console.log(e);
          });
    return
  },
  methods: {
    test(){
      console.log('est')
    },
    login() {
      var donnée = {
        username: this.username,
        password: this.password
      };
      this.$Progress.start();
      const vm = this;
      axios.post("login", donnée).then(
        response => {
          console.log(response);
          if(response.data.isAuthenticated)
             this.$router.push('daySpan')
          if(response.data.user){
            this.$auth.setUser(response.data.user)
          this.$router.push('daySpan')
          }
        },
        response => {
          this.snackbar = true;
          vm.$Progress.fail();
          
        }
      );
      this.$Progress.finish();
    }
  }
};
</script>
<style scoped>
  .container.fluid,
  .application--wrap {
    background-image: url("./2.jpg");
    background-size: 20%;
    background-repeat: repeat;
  }
</style>

