<template>
<v-app>
  <sidebar :drawer="drawer"></sidebar>
  <v-toolbar app color="primary" :clipped-left="$vuetify.breakpoint.mdAndUp" dark fixed>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Réunions</span>
      </v-toolbar-title>
     <v-spacer></v-spacer>
                        <img width="50px" class="text-md-center" src="./morocco.png" alt="">
      <v-spacer></v-spacer>
        <span class="hidden-sm-and-down font-weight-light">Bonjour</span>
      <v-menu open-on-hover offset-y>
        <v-btn dark small icon slot="activator">
          <v-icon medium dark>account_circle</v-icon>
        </v-btn>
        <v-list>

          <v-list-tile @click="logout">
            <v-list-tile-title>
              <v-icon>lock</v-icon> Déconnexion</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
  </v-toolbar>
  <v-content>
    <v-container fluid>
      <router-view></router-view>
    </v-container>
  </v-content>
  <v-footer app></v-footer>
</v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: true
    };
  },
  mounted() {
  },
  methods:{
       logout() {
       // this.$router.push('accueil');
        axios
          .post("logout")
          .then(response => {
              this.$auth.destroyUser();
              this.$router.push("login");
          })
          .catch(e => {
           console.log(e.response)
          });
      }
  }
};
</script>
