<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    hide-actions
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
      <td class="text-xs-left">{{ props.item.num }}</td>
      <td class="text-xs-left">{{ props.item.dateDepart }}</td>
      <td class="text-xs-left">{{ props.item.division }}</td>
      <td class="text-xs-left">{{ props.item.destination }}</td>
      <td class="text-xs-left">{{ props.item.objet }}</td>
      <td class="text-xs-left">{{ props.item.dateFin }}</td>
      <td class="text-xs-left"><v-btn color="success">m'en parler</v-btn></td>
    </template>
  </v-data-table>
</template>
<script>
  export default {
    data () {
      return {
        headers: [
          {
            text: 'Numero',
            align: 'left',
            sortable: false,
            value: 'num'
          },
          {
            text: 'Date départ',
            align: 'left',
            sortable: false,
            value: 'dateDepart'
          },
          { text: 'Division', value: 'division' },
          { text: 'Destination', value: 'destination' },
          { text: 'Objet', value: 'objet' },
          { text: 'Date fin', value: 'dateFin' },
          { text: ' Action', value: 'action' }
        ],
        desserts: [
          {
            num:"1/2018",
            objet:'Commission Urbanisme',
            dateDepart:'2018-09-17',
            dateFin:'2018-09-19',
            division:'DUA',
            destination:'Commune Ait Baha'
          }
        ]
      }
    }
  }
</script>