<template>
    <div>
    <v-layout row wrap>
      <v-flex xs10 offset-xs1>
        <form enctype="multipart/form-data">
          <v-card>
            <v-toolbar color="blue darken-2" dark>
              <v-toolbar-title>Ordre de mission</v-toolbar-title>
            </v-toolbar>
            <v-flex xs10 offset-xs1>
                <v-layout row wrap>
                  <v-flex xs8>
                   <v-text-field label="Nature de la mission"></v-text-field>
                 </v-flex>
                 <v-flex xs3 offset-xs1 >
                   <v-text-field label="N°"></v-text-field>
                 </v-flex>
                 <v-flex xs6>
                    <v-select autocomplete :items="fonctionnaires" item-text="nom" item-value="id" label="Préscrit à"></v-select>
                  </v-flex>
                  <v-flex xs5 offset-xs1>
                    <v-text-field   label="Grade"></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-select autocomplete :items="['Rabat','Marrakech']"  label="Destination"></v-select>
                  </v-flex>
                   <v-flex xs5 offset-xs1 >
                       <v-radio-group v-model="nature" row>
                        <v-radio label="Provinciale" color="primary" value="Provinciale"></v-radio>
                        <v-radio label="Régionale" color="primary" value="Régionale"></v-radio>
                        <v-radio label="Nationale" color="primary" value="Nationale"></v-radio>
                        </v-radio-group>
                  </v-flex>
                  <v-flex xs6 >
                       <v-menu  ref="menu" lazy :close-on-content-click="true" v-model="menu" transition="scale-transition" offset-y full-width :nudge-right="40"
                      min-width="290px">
                      <v-text-field slot="activator" label="Date Départ" v-model="reunion.date" prepend-icon="event" readonly></v-text-field>
                      <v-date-picker locale="fr" color="deep-purple darken-2" ref="picker" v-model="reunion.date" class="mt-3" :min="new Date().toISOString().substr(0, 10)"></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs5 offset-xs1>
                       <v-menu  ref="menu2" lazy :close-on-content-click="true" v-model="menu2" transition="scale-transition" offset-y full-width :nudge-right="40"
                      min-width="290px">
                      <v-text-field slot="activator" label="Date Retour" v-model="reunion.dateRetour" prepend-icon="event" readonly></v-text-field>
                      <v-date-picker locale="fr" color="deep-purple darken-2" ref="picker" v-model="reunion.dateRetour" class="mt-3" :min="new Date().toISOString().substr(0, 10)"></v-date-picker>
                    </v-menu>
                  </v-flex>
                 <v-flex xs12 >
                       <v-radio-group v-model="transport" row>
                        <v-radio label="Personnel" color="primary" value="Personnel"></v-radio>
                        <v-radio label="Service Provinciale" color="primary" value="Service Provinciale"></v-radio>
                        <v-radio label="Externe" color="primary" value="Externe"></v-radio>
                        </v-radio-group>
                  </v-flex>
                  <v-flex xs12>
                  <v-text-field   xs12 label="PV" prepend-icon='attach_file'></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                      <v-textarea
                      solo
                      v-model="reunion.compteRendu"
                      label="Compte rendu"
                      clearable
                    ></v-textarea>
                  </v-flex>
              
                     <v-flex offset-sm10>
                         <v-btn color="success" @click="save()">Enregistrer</v-btn>
                  </v-flex>
                </v-layout>
            </v-flex>
          </v-card>
        </form>
      </v-flex>
    </v-layout>
    </div>
</template>
<script>
export default {
  data() {
    return {
        nature:'Provinciale',
        transport:'Service Provinciale',
        fonctionnaires:[
            {nom:'EL MOUDENE Yassine'},
            {nom:'EL MALKI Yassine'},
            {nom:'TOUFIK Fouad'},
        ],
      salles: [
        "Salle 1",
        "Salle 2",
        "Salle 3",
        "Bureau du M.Governeur",
        "Bureau du chef de division"
      ],
      guests: [],
      divisions: [],
      reunion: {},
      menu: false,
      menu2: false
    };
  },
  mounted() {
   
    
  },
  methods: {
     
  }
};
</script>
