<template>
  <v-navigation-drawer app clipped v-model="drawer">
   <v-subheader class="primary--text">Réunion</v-subheader>
    <v-list >
      <router-link tag="v-list-tile" to="/addReunion">
        <v-list-tile-action>
          <v-icon >note_add</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
        <v-list-tile-title>Programmer</v-list-tile-title>
        </v-list-tile-content>
      </router-link>
    </v-list>
    <v-list>
      <router-link tag="v-list-tile" to="/reunions">
        <v-list-tile-action>
          <v-icon >list</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
        <v-list-tile-title>Réunions</v-list-tile-title>
        </v-list-tile-content>
      </router-link>
    </v-list>
    <v-list>
      <router-link tag="v-list-tile" to="/daySpan">
        <v-list-tile-action>
          <v-icon >event</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
        <v-list-tile-title>Calendrier</v-list-tile-title>
        </v-list-tile-content>
      </router-link>
    </v-list>
   <v-subheader class="primary--text">Paramétrage</v-subheader>
   <v-list >
      <router-link tag="v-list-tile" to="/divisions">
        <v-list-tile-action>
          <v-icon >list</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
        <v-list-tile-title>Divisions</v-list-tile-title>
        </v-list-tile-content>
      </router-link>
    </v-list>
<v-list >
      <router-link tag="v-list-tile" to="/guests">
        <v-list-tile-action>
          <v-icon >list</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
        <v-list-tile-title>Services externes</v-list-tile-title>
        </v-list-tile-content>
      </router-link>
    </v-list>
<v-list >
      <router-link tag="v-list-tile" to="/users">
        <v-list-tile-action>
          <v-icon >group_add</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
        <v-list-tile-title>Utilisateurs</v-list-tile-title>
        </v-list-tile-content>
      </router-link>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
   props :['drawer'],
}
</script>
<style scoped>
.theme--dark .v-icon {

    color:white;

}

</style>
