<template>
    <div>
    <v-layout row wrap>
      <v-flex xs10 offset-xs1>
        <form enctype="multipart/form-data">
          <v-card>
            <v-toolbar color="primary" dark>
              <v-toolbar-title>Programmer une réunion</v-toolbar-title>
            </v-toolbar>
            <v-flex xs10 offset-xs1>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-autocomplete :items="divisions" item-text="abbr" item-value="id" label="Division" v-model="reunion.division_id" required></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 >
                    <v-autocomplete :items="chers"  label="Présidé par Monsieur" v-model="reunion.président"></v-autocomplete>                      
                  </v-flex>
                  <v-flex xs12 v-if="reunion.président!='Extérieur'">
                    <v-autocomplete :items="salles"  label="Salle" v-model="reunion.salle"></v-autocomplete>                      
                  </v-flex>
                  <v-flex xs12 md8 >
                       <v-menu  ref="menu" lazy :close-on-content-click="true" v-model="menu" transition="scale-transition" offset-y full-width :nudge-right="40"
                      min-width="290px">
                      <v-text-field slot="activator" label="Date" data-vv-name="date" :error-messages="errors.collect('date')"  v-validate="'required'"  v-model="reunion.date" prepend-icon="event" readonly></v-text-field>
                      <v-date-picker locale="fr" color="deep-purple darken-2" ref="picker" v-model="reunion.date" class="mt-3" :min="new Date().toISOString().substr(0, 10)"></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 md3 offset-md1>
                        <v-menu
                            ref="menu2"
                            :close-on-content-click="false"
                            v-model="menu2"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                        >
                            <v-text-field
                            slot="activator"
                            v-model="reunion.heure"
                            label="Heure"
                            data-vv-name="heure" 
                            :error-messages="errors.collect('heure')"  
                            v-validate="'required'" 
                            prepend-icon="access_time"
                            readonly
                            ></v-text-field>
                            <v-time-picker
                            v-if="menu2"
                            v-model="reunion.heure"
                            @change="$refs.menu2.save(reunion.heure)"
                            format="24hr"
                            ></v-time-picker>
                        </v-menu>
                  </v-flex>
                  <v-flex xs12>
                      <v-text-field v-model='reunion.objet' data-vv-name="objet" :error-messages="errors.collect('objet')"  v-validate="'required'" label="Objet"></v-text-field>
                  </v-flex>
                  <v-flex xs12 v-if="reunion.président!='Extérieur'">
                      <v-autocomplete multiple v-model="reunion.divisions" :items='divisions' item-value="id" item-text='abbr'  label="Divisions concernées" ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 v-if="reunion.président!='Extérieur'">
                      <v-autocomplete multiple v-model="reunion.guests" :items='guests' item-value="id" item-text='label'    label="Invités" ></v-autocomplete>
                  </v-flex>
                     <v-flex offset-sm10>
                         <v-btn color="success" @click="save()">Ajouter</v-btn>
                  </v-flex>
                </v-layout>
            </v-flex>
          </v-card>
        </form>
      </v-flex>
    </v-layout>
    </div>
</template>
<script>
import Vue from "vue";
import VeeValidate, { Validator } from "vee-validate";
Vue.use(VeeValidate);
import fr from "vee-validate/dist/locale/fr";
Validator.localize("fr", fr);
export default {
  $_veeValidate: {
    validator: "new"
  },
  props: ["date"],
  data() {
    return {
      chers: ["Governeur", "Secrétaire Général", "Chef de division","Extérieur"],
      salles: [
        "Salle 1",
        "Salle 2",
        "Salle 3",
        "Bureau du M.Governeur",
        "Bureau du chef de division"
      ],
      guests: [],
      divisions: [],
      reunion: {},
      menu: false,
      menu2: false
    };
  },
  mounted() {
    if (this.date != undefined) this.reunion.date = this.date;
    axios
      .get(`divisions`)
      .then(response => {
        // JSON responses are automatically parsed.
        this.divisions = response.data;
        // this.page = response.data.current_page;
        //this.total = response.data.last_page;
        //this.per_page = response.data.per_page;
        // this.items=response.data.data;
      })
      .catch(e => {
        // this.errors.push(e)
        console.log(e);
      });
    axios
      .get(`guests`)
      .then(response => {
        // JSON responses are automatically parsed.
        this.guests = response.data;
        // this.page = response.data.current_page;
        //this.total = response.data.last_page;
        //this.per_page = response.data.per_page;
        // this.items=response.data.data;
      })
      .catch(e => {
        // this.errors.push(e)
        console.log(e);
      });
  },
  methods: {
    save() {
      this.$validator.validateAll();
      axios
        .post("reunions", this.reunion)
        .then(function(response) {
          vm.snackbar = true;
          vm.text = response.data.message;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
