<template>
  <div>
    <v-card>
      <div class="display-2 pa-3 primary--text">Liste des réunions</div>
    </v-card>
    <v-layout row wrap>
      <v-flex xs12 class="mx-1d">
        <v-data-table  :headers="headers" :items="items" :loading="false" class="elevation-1" hide-actions>
          <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
          <template slot="items" slot-scope="props">
            <tr>
              <td>{{ props.item.objet }}</td>
              <td>{{ props.item.division!=null?props.item.division.abbr:'' }}</td>
              <td>{{ props.item.président }}</td>
              <td>{{ props.item.salle }}</td>
              <td class="white--text">
                <span v-for='(div,i) in props.item.divisions' :key="i" class="teal pa-1 mx-2 mt-1'">
                  {{div.abbr}}</span>
              </td>
              <td class="white--text">
                <span v-for='(g,i) in props.item.guests' :key="i" class="pink pa-1 mx-2 mt-1'">
                  {{g.label}}</span>
              </td>
              <td>{{ props.item.date+" "+ props.item.heure}} </td> 
              <td>
                <v-btn flat icon  @click="pdf(props.item.id)" color="teal">
                  <v-icon color="orange">attach_file</v-icon>
                </v-btn>
                <v-btn flat icon  @click="editReunion(props.item)" color="teal">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
                <v-btn flat icon  @click="deleteItem(props.item)" color="pink">
                  <v-icon>delete</v-icon>
                </v-btn>
              </td>
            </tr>
          </template>
          <template slot="no-data">
            <v-alert :value="true" color="error" icon="warning">
              Aucune donnée pour le moment
            </v-alert>
          </template>
          <template slot="pageText" slot-scope="props">
            {{ props.pageStart }} - {{ props.pageStop }} sur {{ props.itemsLength }}
          </template>
        </v-data-table>
        <div class="text-xs-center">
          <v-pagination v-if="total>1" :length="total" :total-visible="10" v-model="page" circle @input="getData()"></v-pagination>
        </div>
      </v-flex>
    </v-layout>
 <v-dialog v-model="dialog_delete" width="400px">
            <v-card>
                <v-card-title class="title">
                    <v-icon large color="red" class="mr-3">warning</v-icon>
                    Supprimer l'entité
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="body-2">Voulez vous vraiment supprimer cet élément de la liste</v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="light-green" dark @click.native="confirmDelete">
                        Oui
                        <v-icon right>check_circle</v-icon>

                    </v-btn>
                    <v-btn dark color="pink" @click.native="dialog_delete = false">
                        Non
                        <v-icon right>block</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar top :timeout="timeout" :color="snackbar_color" v-model="snackbar">
            {{ snackbar_message }}
            <v-btn dark flat @click.native="snackbar = false">
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
  </div>

</template>
<script>
import edit from "./edit.vue";
var FileSaver = require("file-saver");
export default {
  components: {
    edit
  },
  data() {
    return {
      snackbar: false,
      timeout: 4000,
      snackbar_color: "",
      snackbar_message: "",
      item_delete: null,
      dialog_delete: false,
      selected: null,
      page: 1,
      total: 0,
      per_page: 10,
      index: 0,
      selectedEdited: null,
      headers: [
        {
          text: "Objet",
          value: "obj"
        },
        {
          text: "Division organisatrice",
          align: "left",
          sortable: false,
          value: "div"
        },
        {
          text: "Président",
          value: "pre"
        },
        {
          text: "Salle",
          value: "expéditeur"
        },
        {
          text: "Divisions invitées",
          value: "destinataires"
        },
        {
          text: "Services extérieurs invités",
          value: "type"
        },
        {
          text: "Date",
          value: "date"
        },
        {
          text: "Actions",
          value: "actions"
        }
      ],
      items: []
    };
  },
  created() {
    axios
      .get(`reunions`)
      .then(response => {
        this.items = response.data.data;
        this.page = response.data.current_page;
        this.total = response.data.last_page;
        this.per_page = response.data.per_page;
        // this.items=response.data.data;*/
      })
      .catch(e => {
        // this.errors.push(e)
        console.log(e);
      });
  },
  methods: {
    getData() {
      axios
        .get(`reunions?page=` + this.page)
        .then(response => {
          // JSON responses are automatically parsed.
          this.items = response.data.data;
          this.page = response.data.current_page;
          this.total = response.data.last_page;

          this.per_page = response.data.per_page;
          // this.items=response.data.data;
        })
        .catch(e => {
          // this.errors.push(e)
          console.log(e);
        });
    },
    editReunion(item) {
      this.$router.push("editReunion/" + item.id);
    },
    deleteItem(item) {
      this.item_delete = item;
      this.dialog_delete = true;
    },
    confirmDelete() {
      this.$Progress.start();
      axios
        .delete("reunions/" + this.item_delete.id)
        .then(response => {
          // JSON responses are automatically parsed.
          const index = this.items.indexOf(this.item_delete);
          this.items.splice(index, 1);
          this.$Progress.finish();
          this.dialog_delete = false;
          this.showSnackBar(response.data.message, "success");
        })
        .catch(e => {
          this.$Progress.fail();
          this.showSnackBar("Une erreur est survenue", "error");
          console.log(e);
        });
    },
    showSnackBar(message, type) {
      this.snackbar_message = message;
      this.snackbar_color = type;
      this.snackbar = true;
    },
    pdf(id){
      axios
        .post(
          "pdf",
          { id: id },
          {
            responseType: "blob",
            headers: {
              Accept: "application/pdf"
            }
          }
        )
        .then(response => {
          var blob = new Blob([response.data], { type: "application/pdf" });
          FileSaver.saveAs(blob, "reunion_.pdf");
        });
    },
    downloadFiles(id, numero) {
      axios
        .post(
          "pdf",
          { id: id },
          {
            responseType: "blob",
            headers: {
              Accept: "application/pdf"
            }
          }
        )
        .then(response => {
          var blob = new Blob([response.data], { type: "application/pdf" });
          FileSaver.saveAs(blob, "bordereau_" + numero + "_.pdf");
        });
    }
  }
};
</script>