<template>
    <div>
        <v-layout>
            <v-flex xs1>
                <v-btn @click="addForm" color="accent mt-5" dark fixed top fab>
                    <v-icon>add</v-icon>
                </v-btn>
            </v-flex>
            <v-flex offset-xs1>
                <v-card class="pa-4" fill-height>
                    <v-hover>
                        <full-calendar slot-scope="{ hover }" ref="calendar" :config="config" :events="events"
                            v-on:event-selected.self="show" v-on:day-click="addForm" />
                    </v-hover>
                </v-card>
            </v-flex>
        </v-layout>

        <!-- create reunion modal -->
        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-toolbar card extension-height="20px" extended dense primary-title class="headline indigo  white--text">
                    Réunion
                    <v-toolbar-title slot="extension" class="white--text"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon dark flat="" @click.native="dialog = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-autocomplete :items="divisions" item-text="abbr" item-value="id" label="Division"
                                    v-model="reunion.division_id"></v-autocomplete>
                            </v-flex>
                            <v-flex xs12>
                                <v-autocomplete :items="chers" label="Présidé par Monsieur" v-model="reunion.président"></v-autocomplete>
                            </v-flex>
                            <v-flex xs12 v-if="reunion.président!='Extérieur'">
                                <v-autocomplete :items="salles" label="Salle" v-model="reunion.salle"></v-autocomplete>
                            </v-flex>
                            <v-flex xs12 md8>
                                <v-menu ref="menu" lazy :close-on-content-click="true" v-model="menu" transition="scale-transition"
                                    offset-y full-width :nudge-right="40" min-width="290px">
                                    <v-text-field slot="activator" label="Date" v-model="reunion.date" prepend-icon="event"
                                        readonly></v-text-field>
                                    <v-date-picker locale="fr" color="deep-purple darken-2" ref="picker" v-model="reunion.date"
                                        class="mt-3" :min="new Date().toISOString().substr(0, 10)"></v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 md3 offset-md1>
                                <v-menu ref="menu2" :close-on-content-click="false" v-model="menu2" :nudge-right="40"
                                    lazy transition="scale-transition" offset-y>
                                    <v-text-field slot="activator" v-model="reunion.heure" label="Heure" prepend-icon="access_time"
                                        readonly></v-text-field>
                                    <v-time-picker v-if="menu2" v-model="reunion.heure" @change="$refs.menu2.save(reunion.heure)"
                                        format="24hr"></v-time-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model='reunion.objet' label="Objet"></v-text-field>
                            </v-flex>
                            <v-flex xs12 v-if="reunion.président!='Extérieur'">
                                <v-autocomplete autocomplete multiple v-model="reunion.divisions" :items='divisions'
                                    item-value="id" item-text='abbr' label="Divisions concernées"></v-autocomplete>
                            </v-flex>
                            <v-flex xs12 v-if="reunion.président!='Extérieur'">
                                <v-autocomplete autocomplete multiple v-model="reunion.guests" :items='guests'
                                    item-value="id" item-text='label' label="Invités"></v-autocomplete>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="add">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <!-- Show information -->
        <v-dialog v-model="dialog2" hide-overlay persistent width="500">
            <v-card>
                <v-toolbar card extended primary-title class="headline indigo  white--text">
                    {{selected.title}}
                    <br>
                    <v-toolbar-title slot="extension" class="white--text"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon dark @click.native="dialog2 = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                    
                    <v-speed-dial :bottom="true"  fixed :left='true' direction="right" transition="slide-x-transition">
                        <v-btn slot="activator" absolute color="grey darken-3"  dark small fab>
                            <v-icon>settings</v-icon>
                        </v-btn>
                       
                        <v-btn fab dark small color="teal ml-5 mt-5">
                            <v-icon>add</v-icon>
                        </v-btn>
                        <v-btn fab dark small color="red mt-5">
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </v-speed-dial>
                </v-toolbar>

                <!-- <v-card id="create">
                    <v-speed-dial :bottom="true" open-on-hover fixed :left='true' direction="right" transition="slide-x-transition">
                        <v-btn slot="activator" absolute color="grey darken-3" dark small fab>
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-btn>
                        </v-btn>
                        <v-btn fab dark small color="indigo">
                            <v-icon>add</v-icon>
                        </v-btn>
                        <v-btn fab dark small color="red">
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </v-speed-dial>
                </v-card> -->

                <v-list two-line>
                    <v-list-tile v-if="selected.division">
                        <v-list-tile-action>
                            <v-icon color="grey darken-2">person</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Organisateur: {{selected.division.label}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-action>
                            <v-icon color="grey darken-2">alarm</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Le {{get(selected.start)}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-if="selected.salle">
                        <v-list-tile-action>
                            <v-icon color="grey darken-2">location_on</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content v-if="selected.salle">
                            <v-list-tile-title>{{selected.salle}}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-action>
                            <v-icon color="grey darken-2">event_seat</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title v-if="selected.président!='Extérieur'">Présidé par Monsieur le {{selected.président}}</v-list-tile-title>
                            <v-list-tile-title v-else>Présidance externe</v-list-tile-title>
                        </v-list-tile-content>

                    </v-list-tile>
                    <v-list-tile v-if="selected.divisions && selected.divisions.length">
                        <v-list-tile-action>
                            <v-icon color="grey darken-2">people</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>
                                Divisions: <span v-for="(item,i) in selected.divisions" :key="i">
                                    {{item.abbr}},
                                </span>
                            </v-list-tile-title>
                        </v-list-tile-content>

                    </v-list-tile>
                    <v-list-tile v-if="selected.invités && selected.invités.length">
                        <v-list-tile-action>
                            <v-icon color="grey darken-2">group_add</v-icon>
                        </v-list-tile-action>

                        <v-list-tile-content>
                            <v-list-tile-title>
                                Invités: <span v-for="(invité,i) in selected.invités" :key="i">
                                    {{invité.label}},
                                </span>
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>

                <!-- <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click.native="dialog2 = false">Fermer</v-btn>
                </v-card-actions> -->
            </v-card>
        </v-dialog>
        <v-snackbar top :timeout="timeout" :color="snackbar_color" v-model="snackbar">
            {{ text }}
            <v-btn dark flat @click.native="snackbar = false">
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
import moment from "moment";
moment.locale("fr");
import "fullcalendar/dist/locale/fr";

export default {
  data() {
    let vm = this;
    return {
      date:'',
      snackbar: false,
      timeout: 4000,
      snackbar_color: "success",
      text: "",
      chers: ["Governeur", "Secrétaire Général", "Chef de division","Extérieur"],
      salles: [
        "Salle 1",
        "Salle 2",
        "Salle 3",
        "Bureau du M.Governeur",
        "Bureau du chef de division"
      ],
      guests: [],
      divisions: [],
      reunion: {},
      menu: false,
      menu2: false,
      dialog: false,
      dialog2: false,
      event: {},
      selected: {
        title: "testing 2",
        start: moment(),
        description: "",
        id: 3,
        salle: "",
        divisions: [],
        invités: []
      },
      events: [],
      config: {
        nowIndicator:true,
        defaultView: "month",
        locale: "fr",
        editable: false,
        customButtons: {
          myCustomPrev: {
            icon: "left-single-arrow",
            click: function() {
              $("#calendar").fullCalendar("prev");
              if (
                vm.date !=
                $("#calendar")
                  .fullCalendar("getDate")
                  .format("YYYY-MM")
              ) {
                vm.date = $("#calendar")
                  .fullCalendar("getDate")
                  .format("YYYY-MM");
                vm.getData(vm.date);
              }
            }
          },
          myCustomNext: {
            icon: "right-single-arrow",
            click: function() {
              $("#calendar").fullCalendar("next");
              if (
                vm.date !=
                $("#calendar")
                  .fullCalendar("getDate")
                  .format("YYYY-MM")
              ) {
                vm.date = $("#calendar")
                  .fullCalendar("getDate")
                  .format("YYYY-MM");
                vm.getData(vm.date);
              }
            }
          }
        },
        header: {
          left: "myCustomPrev,myCustomNext today ",
          center: "title",
          right: "month,agendaWeek,agendaDay"
        }
      }
    };
  },
  mounted() {
    axios
      .get(`divisions`)
      .then(response => {
        // JSON responses are automatically parsed.
        this.divisions = response.data;
        // this.page = response.data.current_page;
        //this.total = response.data.last_page;
        //this.per_page = response.data.per_page;
        // this.items=response.data.data;
      })
      .catch(e => {
        // this.errors.push(e)
        console.log(e);
      });
    axios
      .get(`guests`)
      .then(response => {
        // JSON responses are automatically parsed.
        this.guests = response.data;
        // this.page = response.data.current_page;
        //this.total = response.data.last_page;
        //this.per_page = response.data.per_page;
        // this.items=response.data.data;
      })
      .catch(e => {
        // this.errors.push(e)
        console.log(e);
      });
    this.getData(moment().format("YYYY-MM"));
  },
  methods: {
    getData(date) {
        this.events = [];
      axios
        .get(`reunions/events/` + date)
        .then(response => {
          // JSON responses are automatically parsed.
          response.data.map(item => {
            let color = 'font-weight-thin black--text ';
              switch (item.président) {
                case "Governeur":
                  color += "pink";
                  break;
                case "Secrétaire Général":
                  color += "orange";
                  break;
                case "Chef de division":
                  color += "teal";
                  break;
                default:
                  color += "brown";
                  break;
              }
            if (moment() > moment(item.date, "YYYY-MM-DD"))
              color +=' lighten-4';
            this.events.push({
              id: item.id,
              title: item.objet,
              président: item.président,
              start: item.date + " " + item.heure,
              salle: item.salle,
              divisions: item.divisions,
              invités: item.guests,
              division: item.division,
              className: color
            });
          });
          // this.page = response.data.current_page;
          //this.total = response.data.last_page;
          //this.per_page = response.data.per_page;
          // this.items=response.data.data;
        })
        .catch(e => {
          // this.errors.push(e)
          console.log(e);
        });
    },
    get(date) {
      return moment(date, moment.ISO_8601, true).format(
        "dddd, Do MMMM  YYYY à HH:mm "
      );
    },
    show(event) {
      this.selected = event;
      this.dialog2 = true;
    },
    add() {
      axios
        .post("reunions", this.reunion)
        .then(response => {
          this.snackbar = true;
          this.text = response.data.message;
          this.events.push({
            id: response.data.reunion.id,
            title: response.data.reunion.objet,
            président: response.data.reunion.président,
            start:
              response.data.reunion.date + " " + response.data.reunion.heure,
            salle: response.data.reunion.salle,
            divisions: response.data.reunion.divisions,
            invités: response.data.reunion.guests
          });
        })
        .catch(function(error) {
          console.log(error);
        });

      this.dialog = false;
    },
    addForm(date) {
      if (date._d != undefined) {
        this.reunion.date = moment(date._d, moment.ISO_8601, true).format(
          "YYYY-MM-DD"
        );
      } else {
        this.reunion.date = null;
      }

      this.dialog = true;
    }
  }
};
</script>
<style>
/* This is for documentation purposes and will not be needed in your application */
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
</style>
