<template>
<div>
    <v-btn class="pink" dark >Console</v-btn>
  <v-app id="dayspan" v-cloak>
    <ds-calendar-app :calendar.sync="calendar" v-on:open.self="test" v-on:add.self="add"></ds-calendar-app>
  </v-app>
</div>
</template>

<script>
import { Calendar, Schedule, Day, Month, Weekday } from "dayspan";

export default {
  name: "app",
  data: () => ({
    calendar: Calendar.months()
  }),
  mounted() {
    console.log(Month.SEPTEMBER);
    this.calendar.addEvent({
      data: "Yassine",
      id: "",
      schedule: new Schedule({
        on: Day.build(2019, Month.SEPTEMBER, 21)
      })
    }),
      this.calendar.addEvent({
        data: "Weekly Meeting",
        schedule: {
          dayOfWeek: [Weekday.MONDAY],
          times: [9],
          duration: 30,
          durationUnit: "minutes",
          start: Day.build(2019, Month.SEPTEMBER, 21)
        }
      });
  },
  methods: {
    test(){
      console.log('test')
    },
    add:()=>{
      console.log('add')
    }
  }
};
</script>

<style>
body,
html,
#app,
#dayspan {
  font-family: Roboto, sans-serif;
  width: 100%;
  height: 100%;
}
</style>
