<template>
  <div>
	   <kalendar :configuration="calendar_settings" :appointments="appointments"  class="generate-shadow">
	<div slot="creating-card" slot-scope="{appointment_props}">
		<!-- This is the card that is displayed while the user is dragging mouse on cells -->
		<!-- You can access various attributes of that selection using the slot scope appointment_props. It contains fields like: start_value, end_value and status. -->
		<h4 class="appointment-title" style="text-align: left;">Nouveau Appointment</h4>
		<span class="time">{{appointment_props.start_value.value}} - {{appointment_props.end_value.value}}
		</span>
	</div>
	<div slot="popup-form"  slot-scope="{popup_scope}" style="display: flex; flex-direction: column;">
		<!-- This is the popup that is displayed when user has finished dragging(selecting) appointment start and end values. -->
		<!-- You can use the popup_scope variable to access various fields, such as: appointment_data (similar to appointment_props) and close. -->
		<!-- There is a listener attached to the close field. Whenever it gets a false value, the popup closes. -->
		<!-- You can add as many fields as you want. When saving them, make sure to insert them in the data field of the payload for appointments array. In that way you can access them even in the *details-card* slot.-->
		<h4 style="margin-bottom: 10px">Nouveau Appointment</h4>
		<input v-model="new_appointment.title" type="text" name="title" placeholder="Title">
		<textarea v-model="new_appointment.description" type="text" name="description" placeholder="Description" rows="2"></textarea>
		<div class="buttons">
      <v-btn color="pink" dark @click="popup_scope.close_popup = true">Cancel</v-btn>
      <v-btn color="success" dark @click="completeAppointment(popup_scope, new_appointment)">Save</v-btn>
		</div>
	</div>
	<div slot="details-card" @click="test" slot-scope="{appointment_props}">
		<!-- Similar to creating-card, except that this one is displayed for existing appointments. -->
		<!-- Here you can access the data object, aswell as other fields. Data field is where you save the values from the popup form, which are then accessible here. -->
		<h4 class="appointment-title">{{appointment_props.data.title}} dd</h4>
		<small v-show="(appointment_props.end - appointment_props.start) > 2">{{appointment_props.data.description}}</small>
		<span class="time">{{appointment_props.start_value.value | normalizeDate('hh:mm A')}} - {{appointment_props.end_value.value | normalizeDate('hh:mm A')}}</span>
	</div>
</kalendar>
  </div>
</template>
 
<script>
import { Kalendar } from 'kalendar-vue';
import moment from "moment";
export default {
  components:{
    Kalendar
  },
  mounted(){
   
  },
  data(){
      return{
    appointments: [  {
    from: "Fri Sep 21 2018 01:00:00",
    to: "Fri  Sep 21 2018 02:00:00",
    date: "2018-09-21",
    data: {
      title: "Barber Checkin",
      description: "Lorem ipsum dolor sit amet."
    }
  },
  {
    from: "Fri Sep 21 2018 03:00:00",
    to: "Fri  Sep 21 2018 07:00:00",
    date: "2018-09-21",
    data: {
      title: "Barber Checkin",
      description: "Lorem ipsum dolor sit amet."
    }
  },
  {
    from: "Mon Aug 26 2018 01:00:00",
    to: "Mon Aug 26 2018 02:00:00",
    date: "2018-08-26",
    data: {
      title: "My Birthday",
      description: "Lorem ipsum dolor sit amet."
    }
  }],
    new_appointment:{},
		calendar_settings: {
			style: 'material_design', // ['flat_design', 'material_design']
			view_type: 'Month', // ['Month', 'Day']
			split_value: 20, // Value % 60 === 0
      cell_height: 20, // !isNaN(Value)
			//scrollToNow: false, // Boolean
			current_day: new Date(), // Valid date
		},
  }
},
methods:{
  completeAppointment(popup_data, form_data) {
    

		let payload = {
			data: {
				title: form_data.title,
				description: form_data.description,
			},
			from: popup_data.appointment_props.start_value.value.toString().slice(0,-16),
			to: popup_data.appointment_props.end_value.value.toString().slice(0,-16),
			date: '2018-09-20',
    };
    this.appointments.push(payload);
    console.log(payload)
		this.new_appointment = {
			title: null,
			description: null,
		};
		popup_data.close_popup = true;
  },
  test(){
    console.log('ok')
  }
}
}
</script>
 
<style>

</style>
