<template>
    <div>
    <v-layout row wrap>
      <v-flex xs10 offset-xs1>
        <form enctype="multipart/form-data">
          <v-card>
            <v-toolbar color="blue darken-2" dark>
              <v-toolbar-title>Modifier la réunion</v-toolbar-title>
            </v-toolbar>
            <v-flex xs10 offset-xs1>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-autocomplete :items="divisions" item-text="abbr" item-value="id" label="Division" v-model="reunion.division_id"></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 >
                    <v-autocomplete :items="chers"  label="Présidance" v-model="reunion.président"></v-autocomplete>                      
                  </v-flex>
                  <v-flex xs12 v-if="reunion.président!='Extérieur'">
                    <v-autocomplete :items="salles"  label="Salle" v-model="reunion.salle"></v-autocomplete>                      
                  </v-flex>
                  <v-flex xs12 md8 >
                       <v-menu  ref="menu" lazy :close-on-content-click="true" v-model="menu" transition="scale-transition" offset-y full-width :nudge-right="40"
                      min-width="290px">
                      <v-text-field slot="activator" label="Date" v-model="reunion.date" prepend-icon="event" readonly></v-text-field>
                      <v-date-picker locale="fr" color="deep-purple darken-2" ref="picker" v-model="reunion.date" class="mt-3" :min="new Date().toISOString().substr(0, 10)"></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 md3 offset-md1>
                        <v-menu
                            ref="menu2"
                            :close-on-content-click="false"
                            v-model="menu2"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                        >
                            <v-text-field
                            slot="activator"
                            v-model="reunion.heure"
                            label="Heure"
                            prepend-icon="access_time"
                            readonly
                            ></v-text-field>
                            <v-time-picker
                            v-if="menu2"
                            v-model="reunion.heure"
                            @change="$refs.menu2.save(reunion.heure)"
                            format="24hr"
                            ></v-time-picker>
                        </v-menu>
                  </v-flex>
                  <v-flex xs12>
                      <v-text-field v-model='reunion.objet' label="Objet"></v-text-field>
                  </v-flex>
                  <v-flex xs12 v-if="reunion.président!='Extérieur'">
                      <v-autocomplete multiple v-model="reunion.divisions" :items='divisions' item-value="id" item-text='abbr'  label="Divisions concernées" ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 v-if="reunion.président!='Extérieur'">
                      <v-autocomplete multiple v-model="reunion.guests" :items='guests' item-value="id" item-text='label'    label="Invités" ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12>
                  <v-textarea
                      solo
                      v-model="reunion.compteRendu"
                      label="Compte rendu"
                      clearable
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs12>
                  <v-text-field   xs12 label="Choisir les images" @click='pickFile' v-model='imagesNames' prepend-icon='attach_file'></v-text-field>
                  <v-container fluid grid-list-xs>
                    <v-layout row wrap>
                      <v-flex s12 sm6 md4 v-if="reunion.files.length"  v-for="(imageUrl,i) in reunion.files" :key="i">
                        <img class="image" :src="imageUrl.name" alt="lorem" width="98%" height="98%" style="border:1px solid black">
                      </v-flex>
                        <v-flex xs12 sm6 md4 v-for="(imageUrl,i) in imagesUrls" :key="i">
                        <v-card>
                        <img class="image" :src="imageUrl" alt="lorem" width="98%" height="98%" style="border:1px solid black">
                          <v-card-actions class="white justify-center">
                            <v-btn
                              color="red"
                              class="white--text"
                              @click="removeImage(i)"
                            >
                            Supprimer
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                  <input type="file" style="display: none" ref="image"  multiple @change="onFilePicked">
                </v-flex>
                     <v-flex offset-sm10>
                         <v-btn color="success" @click="modifier()">Modifier</v-btn>
                  </v-flex>
                </v-layout>
            </v-flex>
          </v-card>
        </form>
      </v-flex>
    </v-layout>
     <v-snackbar top :timeout="2000" color="success" v-model="snackbar">
            {{ text }}
            <v-btn dark flat @click.native="snackbar = false">
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
    </div>
</template>
<script>
export default {
  data() {
    return {
      snackbar:false,
      text:'',
      reunion: {},
      chers: ["Governeur", "Secrétaire Général", "Chef de division","Extérieur"],
      salles: [
        "Salle 1",
        "Salle 2",
        "Salle 3",
        "Bureau du M.Governeur",
        "Bureau du chef de division"
      ],
      guests: [],
      divisions: [],
      menu: false,
      menu2: false,
      imagesNames: [],
      imagesUrls: []
    };
  },
  mounted() {
    axios
      .get("reunions/" + this.$route.params.id)
      .then(response => (this.reunion = response.data))
      .catch(error => console.log(error));
    axios
      .get(`divisions`)
      .then(response => {
        // JSON responses are automatically parsed.
        this.divisions = response.data;
        // this.page = response.data.current_page;
        //this.total = response.data.last_page;
        //this.per_page = response.data.per_page;
        // this.items=response.data.data;
      })
      .catch(e => {
        // this.errors.push(e)
        console.log(e);
      });
    axios
      .get(`guests`)
      .then(response => {
        // JSON responses are automatically parsed.
        this.guests = response.data;
        // this.page = response.data.current_page;
        //this.total = response.data.last_page;
        //this.per_page = response.data.per_page;
        // this.items=response.data.data;
      })
      .catch(e => {
        // this.errors.push(e)
        console.log(e);
      });
  },
  methods: {
    modifier() {
      axios.defaults.headers.post["Content-Type"] = "multipart/form-data";
      this.reunion.files = this.imagesUrls;
      axios
        .patch("reunions/" + this.reunion.id, this.reunion)
        .then(response=> {
          this.snackbar = true;
          this.text = response.data.message;
          setTimeout(() => {
             this.$router.push("/reunions");
          }, 2500);
        })
        .catch(function(error) {
          console.log(error);
        });
      this.clear();
      return;
    },
    pickFile() {
      this.$refs.image.click();
    },
    onFilePicked(e) {
      const files = e.target.files;

      if (files[0] !== undefined) {
        Array.from(files).forEach(el => {
          const fr = new FileReader();
          this.imagesNames.push(el.name);
          fr.readAsDataURL(el);
          fr.addEventListener("load", () => {
            this.imagesUrls.push(fr.result);
            // this is an image file that can be sent to server...
            // console.log(el);
          });
        });
      } else {
      }
    },
    removeImage(index) {
      this.imagesNames.splice(index, 1);
      this.imagesUrls.splice(index, 1);
      console.log("supprimer");
    },
    clear() {
      this.imagesUrls = [];
      this.imagesNames = [];
      this.select = null;
      //  this.$validator.reset();
    }
  }
};
</script>
