<template>
  <div>
    <v-layout row wrap>
      <v-flex xs10 offset-xs1>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Changement du mot de passe</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                <v-text-field
                  nom="Mot de passe"
                  label="Entrer le mot de passe"
                  hint="au moins 6 caractères"
                  v-model="password"
                  min="6"
                  :append-icon="e1 ? 'visibility' : 'visibility_off'"
                  :append-icon-cb="() => (e1 = !e1)"
                  :type="e1 ? 'password' : 'text'"
                  @blur="password==password_confirmation?errorMessages=[]:''"
                  counter></v-text-field>
                 <v-text-field
                    nom="Confirmer le mot de passe"
                    label="Confirmer le mot de passe"
                    hint="au moins 6 caractères"
                    v-model=" password_confirmation"
                    min="6"
                    :append-icon="e2 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e2 = !e2)"
                    :type="e2 ? 'password' : 'text'"
                    :rules="[() =>  password_confirmation != password ? 'les mot de passes ne sont pas les mêmes!!':true]"
                    :error-messages="errorMessages"
                    counter></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.native="save()">Enregistrer</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
</v-layout>
 <v-snackbar top :timeout="timeout" :color="snackbar_color" v-model="snackbar">
            {{ snackbar_message }}
            <v-btn dark flat @click.native="snackbar = false">
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        password_confirmation:'',
        password:'',
        e1:true,
        e2:true,
        errorMessages:[],
         snackbar: false,
            timeout: 4000,
            snackbar_color: "",
            snackbar_message: "",
      }
    },
    methods:{
      save(){
        this.$Progress.start();
        axios
        .post("editPWD", { password_confirmation:this.password_confirmation,password:this.password})
        .then(response => {
            // JSON responses are automatically parsed.
            this.$Progress.finish();
            this.password = this.password_confirmation = '';
            this.showSnackBar(response.data.message, "success");
        })
        .catch(e => {
            this.$Progress.fail();
            this.showSnackBar("Une erreur est survenue", "error");
        });
      }
    }
  };
</script>