<template>
    <v-layout row wrap>
        <v-flex xs12>
            <div>
                <v-dialog v-model="dialog" max-width="500px">
                    <v-btn color="primary" dark slot="activator" class="mb-2">Nouveau utilisteur</v-btn>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12>
                                        <v-text-field label="Nom" v-model="editedItem.nom"></v-text-field>
                                    </v-flex>
                                     <v-flex xs12>
                                        <v-text-field label="Prénom" v-model="editedItem.prenom"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field label="Login" v-model="editedItem.login"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                      <v-select :items="types" v-model="editedItem.type" label="Type"  v-validate="'required'" data-vv-name="bordereau.modePostal"></v-select>
                                    </v-flex>
                                     <v-flex xs12>
                                    <v-select v-if="editedItem.type=='Chef de division'" :items="divisions" item-text="abbr" item-value="id" autocomplete v-model="editedItem.division_id" label="Division" data-vv-as="editedItem.divisions"   data-vv-nom="Rôles">
                                   </v-select>
                                    <v-flex xs12 v-if="editedIndex == -1">
                                        <v-text-field
                                          nom="Mot de passe"
                                          label="Entrer le mot de passe"
                                          hint="au moins 6 caractères"
                                          v-model="editedItem.password"
                                          min="6"
                                          :append-icon="e1 ? 'visibility' : 'visibility_off'"
                                          :append-icon-cb="() => (e1 = !e1)"
                                          :type="e1 ? 'password' : 'text'"
                                          @blur="editedItem.password==editedItem.confirm?errorMessages=[]:''"
                                          counter></v-text-field>
                                    </v-flex>
                                     <v-flex xs12 v-if="editedIndex == -1">
                                        <v-text-field
                                          nom="Confirmer le mot de passe"
                                          label="Confirmer le mot de passe"
                                          hint="au moins 6 caractères"
                                          v-model="editedItem.confirm"
                                          min="6"
                                          :append-icon="e2 ? 'visibility' : 'visibility_off'"
                                          :append-icon-cb="() => (e2 = !e2)"
                                          :type="e2 ? 'password' : 'text'"
                                          :rules="[() =>  editedItem.confirm != editedItem.password ? 'les mot de passes ne sont pas les mêmes!!':true]"
                                          :error-messages="errorMessages"
                                          counter></v-text-field>
                                    </v-flex>
                      </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="close">Annuler</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="save" slot="activator">Enregistrer</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-card>
                    <v-card-title>
                        <v-spacer></v-spacer>
                        <v-text-field append-icon="search" label="Chercher" single-line hide-details v-model="search"></v-text-field>
                    </v-card-title>
                    <v-data-table :headers="headers" :items="items" class="elevation-1" :search="search" rows-per-page-text="lines par page:"
                        no-results-text="Aucun enregistrements correspondants trouvés" :rows-per-page-items='[10,15,20,{"text":"Tout","value":-1}]'>
                        <template slot="items" slot-scope="props">
                            <td>{{ props.item.login }}</td>
                            <td>{{ props.item.prenom }}</td>
                            <td>{{ props.item.nom }}</td>
                            <td class="white--text">
                                <span v-if="props.item.type=='Chef de division'" class="teal pa-1 ma-2">
                                    {{props.item.division!=null ?props.item.division.abbr:''}}</span>
                            </td>
                            <td>{{ props.item.type }}</td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="editItem(props.item)">
                                    <v-icon color="teal">edit</v-icon>
                                </v-btn>
                                <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                                    <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                        <template slot="no-data">
                              <v-alert :value="true" color="error" icon="warning">
                                Aucune donnée pour le moment
                            </v-alert>
                        </template>
                        <template slot="pageText" slot-scope="props">
                            {{ props.pageStart }} - {{ props.pageStop }} sur {{ props.itemsLength }}
                        </template>
                    </v-data-table>
                </v-card>
            </div>
        </v-flex>
        <v-snackbar top :timeout="timeout" :color="snackbar_color" v-model="snackbar">
            {{ snackbar_message }}
            <v-btn dark flat @click.native="snackbar = false">
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
        <v-dialog v-model="dialog_delete" width="400px">
            <v-card>
                <v-card-title class="title">
                    <v-icon large color="red" class="mr-3">warning</v-icon>
                    Supprimer l'entité
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="body-2">Voulez vous vraiment supprimer cet élément de la liste</v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="light-green" dark @click.native="confirmDelete">
                        Oui
                        <v-icon right>check_circle</v-icon>

                    </v-btn>
                    <v-btn dark color="pink" @click.native="dialog_delete = false">
                        Non
                        <v-icon right>block</v-icon>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>
<script>
    export default {
        data: () => ({
            errorMessages:[],
            e1:true,
            e2:true,
            dialog_delete: false,
            item_delete: null,
            snackbar: false,
            timeout: 4000,
            snackbar_color: "",
            snackbar_message: "",
            dialog: false,
            search: "",
            types: ['Admin','Governeur','Secrétaire Général','Chef de division'],
            headers: [
                 {
                    text: "Login",
                    value: "login",
                    sortable: true
                },
                {
                    text: "Prénom",
                    value: "prenom",
                    sortable: true
                },
                {
                    text: "Nom",
                    value: "nom",
                    sortable: true
                },
                {
                    text: "Division",
                    value: "div",
                    sortable: true
                },
                {
                    text: "Type",
                    value: "type",
                    sortable: true
                },
                {
                    text: "Actions",
                    sortable: false
                }
            ],
            items: [],
            divisions:[],
            editedIndex: -1,
            editedItem: {
                id: null,
                nom:'',
                prenom: "",
                login: "",
                type:'',
                password:'',
                confirm:'',
                division_id:null
            },
            defaultItem: {
                id: null,
                nom: "",
                prenom: "",
                login: "",
                type:'',
                password:'',
                confirm:'',
                division_id:null
            }
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? "Nouveau utilisateur" : "Modifier l'utilisateur";
            }
        },

        watch: {
            dialog(val) {
                val || this.close();
            },
    'editedItem.nom': function (val) {
      this.editedItem.login = this.editedItem.prenom.charAt(0) + '.' + val.toLowerCase().replace(/ /g,'')
    },
    'editedItem.prenom': function (val) {
      this.editedItem.login = val.charAt(0) + '.' + this.editedItem.nom.toLowerCase().replace(/ /g,'')
    }
        },

        created() {
            this.initialize();
        },

        methods: {
            initialize() {
                axios
                    .get(`users`)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        this.items = response.data;
                        // this.page = response.data.current_page;
                        //this.total = response.data.last_page;
                        //this.per_page = response.data.per_page;
                        // this.items=response.data.data;
                    })
                    .catch(e => {
                        // this.errors.push(e)
                        console.log(e);
                    });
                  axios
                    .get(`divisions`)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        this.divisions = response.data;
                        // this.page = response.data.current_page;
                        //this.total = response.data.last_page;
                        //this.per_page = response.data.per_page;
                        // this.items=response.data.data;
                    })
                    .catch(e => {
                        // this.errors.push(e)
                        console.log(e);
                    });
            },
            showSnackBar(message, type) {
                this.snackbar_message = message;
                this.snackbar_color = type;
                this.snackbar = true;
            },
            editItem(item) {
                this.editedIndex = this.items.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },

            deleteItem(item) {
                this.item_delete = item;
                this.dialog_delete = true;
            },
            confirmDelete() {
                this.$Progress.start();
                axios
                    .delete("users/" + this.item_delete.id)
                    .then(response => {
                        // JSON responses are automatically parsed.
                        const index = this.items.indexOf(this.item_delete);
                        this.items.splice(index, 1);
                        this.$Progress.finish();
                        this.dialog_delete = false;
                        this.showSnackBar(response.data.message, "success");
                    })
                    .catch(e => {
                        this.$Progress.fail();
                        this.showSnackBar("Une erreur est survenue", "error");
                        console.log(e);
                    });
            },

            close() {
                this.dialog = false;
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 300);
            },

            save() {
                if (this.editedIndex == -1) {
                    this.$Progress.start();
                    axios
                        .post("users", this.editedItem)
                        .then(response => {
                            // JSON responses are automatically parsed.
                            this.$Progress.finish();
                            this.items.unshift(response.data.item);
                            this.dialog = false;
                            this.showSnackBar(response.data.message, "success");
                        })
                        .catch(e => {
                            this.$Progress.fail();
                            this.showSnackBar("Une erreur est survenue", "error");
                            console.log(e);
                        });
                } else {
                    this.$Progress.start();
                    axios
                        .patch("users/" + this.editedItem.id, this.editedItem)
                        .then(response => {
                            this.$Progress.finish();
                            this.items[this.editedIndex].nom = this.editedItem.nom;
                            this.items[this.editedIndex].prenom = this.editedItem.prenom;
                            this.items[this.editedIndex].division = response.data.division;
                            this.items[this.editedIndex].division_id = response.data.division.id;
                            this.items[this.editedIndex].type = this.editedItem.type;
                            this.dialog = false;
                            this.showSnackBar(response.data.message, "success");
                            console.log("this is "+ response.data);
                        })
                        .catch(e => {
                            this.$Progress.fail();
                            this.showSnackBar("Une erreur est survenue", "error");
                            console.log('im here');
                            console.log(e);
                        });
                }
                this.close();
            },
            remove (item) { 
 this.editedItem.divisions.splice(this.editedItem.divisions.indexOf(item), 1)
 this.editedItem.divisions = [...this.editedItem.divisions]
  }
        }
    };
</script>